<div class="dash-img">
    <a href="/dash/{{servers.id}}"><img src="https://cdn.discordapp.com/icons/{{servers.id}}/{{servers.icon}}.png" alt="icon{{servers.id}}"></a>
</div>
<div>
    <h2>
        <a href="/dash/{{servers.id}}">{{servers.name}}</a>
    </h2>
</div>