<div class="header-dash">
    {{> headerDash }}
</div>
<hr>
<section id="form-dash">
    <form action="/dash/{{servers.id}}/send-cmd" method="POST" onsubmit="alertT()">
        <input type="text" name="msgText" id="msgText" autocomplete="off" required placeholder="Escribe tu mensaje">
        <select name="canalID" id="canalID">
            <option value="none">Selecciona un canal</option>
            {{#each canales}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <input type="submit" id="btnEnviar" value="Enviar">
    </form>
</section>
{{#each msg}}
<!--h2->{{this.id}} - {{this.contenido}}</h2-->
{{/each}}