
    <h1>Usuario: {{user.username}} #{{user.discriminator}}</h1>
    <hr>
    {{#each servidoresU}}
    <div class="cards">
        <div class="cards-icon">
            {{#if this.icon}}
            <img src="https://cdn.discordapp.com/icons/{{this.id}}/{{this.icon}}.png" alt="Icon">
            {{else}}
            <img src="https://cdn.hidaxo.ga/IMG/logo/icon-7.png" alt="Icon"> <!--p>{{this.acronym}}</p-->
            {{/if}}
        </div>
        <div class="cards-body">
            <h4 class="cards-tittle">{{this.name}}</h4>
            {{#if this.esta}}
            <a href="/dash/{{this.id}}" class="btn radius yellow">Ver</a>
            {{ else}}
            <a href="https://discord.com/api/oauth2/authorize?client_id=668118265779716106&permissions=0&redirect_uri=http%3A%2F%2Fhidaxo.ga%2Flogin&scope=bot" target="_blank" class="btn radius cian">Invitar</a>
            {{/if}}
        </div>
    </div>
    {{/each}}