<div class="dash-tittle">
    <div class="dash-img">
        <img src="https://cdn.discordapp.com/icons/{{servers.id}}/{{servers.icon}}.png" alt="icon{{servers.id}}">
    </div>
    <div>
        <h1><b>{{servers.name}}</b></h1>
    </div>
</div>
<hr>
<div class="optionsPanel">
    <a href="/dash/{{servers.id}}/commands" class="btn large red">Custom Commands</a>
    <a href="/dash/{{servers.id}}/canales" class="btn medium blue">List Channels</a>
    <a href="/dash/{{servers.id}}/emojis" class="btn medium green">List Emojis</a>
</div>